body{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    background-color: rgb(129, 203, 238);
}

th {
    background-color: rgb(9, 228, 82);
}

td {
    background-color: rgb(245, 245, 245);
}
